101=联交所总所总所|总所
102=联交所涪陵分所|涪陵
103=联交所渝东分所|渝东分所
104=联交所渝东南分所|渝东南
105=联交所渝西分所|渝西
106=联交所南川支所|南川
107=联交所丰都支所|丰都
108=联交所武隆支所|武隆
109=联交所垫江支所|垫江
110=联交所梁平支所|梁平
111=联交所奉节支所|奉节
112=联交所巫山支所|巫山
113=联交所巫溪支所|巫溪
114=联交所忠县支所|忠县
115=联交所开县支所|开县
116=联交所云阳支所|云阳
117=联交所城口支所|城口
118=联交所彭水支所|彭水
119=联交所石柱支所|石柱
120=联交所酉阳支所|酉阳
121=联交所秀山支所|秀山
122=联交所璧山支所|璧山
123=联交所铜梁支所|铜梁
124=联交所大足支所|大足
125=联交所荣昌支所|荣昌
126=联交所潼南支所|潼南
127=联交所合川支所|合川
128=联交所长寿支所|长寿
129=联交所江津支所|江津
130=联交所綦江支所|綦江
131=联交所万盛支所|万盛
132=联交所双桥支所|双桥
133=知识产权交易分所|产权