#序号
sortNo=0

#机构名称
institutionName=1

#项目名称
projectName=2

#客户名称
customerName=3

#资金属性
capitalProperties=4

#结算科目
settleSubject=5

#收
inNumber=6

#转
transferNumber=7

#扣
takeNumber=8

#付
outNumber=9

	/**
	 * 银行收
	 */
	@ExcelSort(sort = 8)
	private String bankInNumber;

	/**
	 * 银行付
	 */
	@ExcelSort(sort = 9)
	private String bankOutNumber;

	/**
	 * 到账日期
	 */
	@ExcelSort(sort = 10)
	private String inDate;

	/**
	 * 结算日期
	 */
	@ExcelSort(sort = 11)
	private String settleDate;