1102.05=
2202.00=客户---@{institutionCode}---@{institutionName}||结算项目---@{settleDate}---@{customerName}
2202.02=客户---@{institutionCode}---@{institutionName}||转让方---@{settleDate}---@{capitalProperties}
2202.03=客户---@{institutionCode}---@{institutionName}
2202.04=客户---@{institutionCode}---@{institutionName}||合作单位---@{settleDate}---@{capitalProperties}
2202.05=客户---@{institutionCode}---@{institutionName}||合作单位---@{settleDate}---@{customerName}
2202.06=客户---@{institutionCode}---@{institutionName}||缴款单位（竞买人）---@{settleDate}---@{customerName}
2202.09=客户---@{institutionCode}---@{institutionName}||缴款单位（竞买人）---@{settleDate}---@{capitalProperties}
2202.10=
